.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .genre-buttons {
    display: flex;
    justify-content: center;
  }
  
  .genre-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
  }
  
  .film-container {
    margin-top: 20px;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .genre-buttons {
      flex-wrap: wrap;
    }
  
    .genre-button {
      width: 100%;
      margin: 10px 0;
    }
  }
  