:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Cardo", sans-serif;
}

/* Colors */
:root {
  /* --color-default: #fafafa; */
  --color-primary: #27a776;
  --color-default: #ffff;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-default);
  opacity: 0.9;
  background-color: Black;
  z-index: 1; 
  color: var(--color-default); 

}

.row {
  margin: 12px;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #32cf93;
  text-decoration: none;
}
.navbar {
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0;
  /* background-color: #000; */
}

.navbar .logo {
  transition: 0.3s;
}

.navbar .logo img {
  max-height: 40px;
  margin-right: 8px;
}

.navbar .logo h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 400;
  color: #fff;
  font-family: var(--font-secondary);
}

.navbar .logo i {
  font-size: 32px;
  margin-right: 8px;
  line-height: 0;
}

@media (max-width: 575px) {
  .navbar .logo h1 {
    font-size: 26px;
  }

  .navbar .logo i {
    font-size: 24px;
  }
}
.nav-link{
  color:#fff;
}

.card{
  color: black;
}
h1{
  color: #fff;
}
/* div */
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #27a776;
  background: #27a776;
  height: 40px;
  border-radius: 50px;
  padding: 10px;
  float:right;
}
.search-box .bi-search{
  float: right;
}

/* input */
.search-input {
  outline: none;
  border: none;
  background: none;
  width: 0;
  padding: 0;
  color: #fff;
  float: left; 
  font-size: 16px;
  transition: .3s;
  line-height: 1px;
}

.search-input::placeholder {
  color: #fff;
}

/* icon */
.search-btn {
  color: #fff;
  float: right;
  width: 40px;
  height: 25px;
  border-radius: 50px;
  background:#27a776;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 240px;
  padding: 0 4px;
}

.search-box:hover > .search-input {
  width: 240px;
  padding: 0 4px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  background: #fff;
  color: #27a776;
}